.login-page {
    height: 100vh;
  }

  .login-bg {
    background-image: url(./assets/urmi.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .login-panel {
    padding: 40px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    width: 100%;
    max-width: 400px;
  }
  
  .form-label {
    margin-bottom: 5px;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  